
.vs/HaltroyFramework/v16/.suo
.vs/HaltroyFramework/v16/Server/sqlite3/db.lock
.vs/HaltroyFramework/v16/Server/sqlite3/storage.ide
Hf.Test/obj/Debug/Hf.Test.csproj.CoreCompileInputs.cache
Hf.Test/obj/Debug/Hf.Test.csprojAssemblyReference.cache
HFCore/obj/Debug/HF.csproj.CoreCompileInputs.cache
HFCore/obj/Debug/HF.csprojAssemblyReference.cache
.vs/HaltroyFramework/v16/.suo
Hf.Test/obj/Debug/Hf.Test.csproj.CoreCompileInputs.cache
Hf.Test/obj/Debug/Hf.Test.csprojAssemblyReference.cache
Hf.Test/obj/Debug/Hf.Test.csprojAssemblyReference.cache
Hf.Test/obj/Debug/Hf.Test.csproj.CoreCompileInputs.cache
.vs/HaltroyFramework/v16/.suo
Hf.Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Hf.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Hf.Test/obj/Debug/Hf.Test.csproj.CoreCompileInputs.cache
Hf.Test/obj/Debug/Hf.Test.csprojAssemblyReference.cache
HFCore/bin/Debug/HaltroyFramework.dll
HFCore/bin/Debug/HaltroyFramework.dll.config
HFCore/bin/Debug/HaltroyFramework.pdb
HFCore/bin/Debug/license.txt
HFCore/bin/Debug/readme.txt
HFCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HFCore/obj/Debug/HaltroyFramework.dll
HFCore/obj/Debug/HaltroyFramework.HaltroyInputBox.resources
HFCore/obj/Debug/HaltroyFramework.HaltroyMsgBox.resources
HFCore/obj/Debug/HaltroyFramework.HaltroySlider.resources
HFCore/obj/Debug/HaltroyFramework.pdb
HFCore/obj/Debug/HaltroyFramework.Properties.Resources.resources
HFCore/obj/Debug/HF.csproj.FileListAbsolute.txt
HFCore/obj/Debug/HF.csproj.GenerateResource.cache
HFCore/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
