
.vs/HaltroyFramework/v16/.suo
.vs/HaltroyFramework/v16/Server/sqlite3/db.lock
.vs/HaltroyFramework/v16/Server/sqlite3/storage.ide
Hf.Test/obj/Debug/Hf.Test.csproj.CoreCompileInputs.cache
Hf.Test/obj/Debug/Hf.Test.csprojAssemblyReference.cache
HFCore/obj/Debug/HF.csproj.CoreCompileInputs.cache
HFCore/obj/Debug/HF.csprojAssemblyReference.cache
.vs/HaltroyFramework/v16/.suo
Hf.Test/obj/Debug/Hf.Test.csproj.CoreCompileInputs.cache
Hf.Test/obj/Debug/Hf.Test.csprojAssemblyReference.cache
Hf.Test/obj/Debug/Hf.Test.csprojAssemblyReference.cache
Hf.Test/obj/Debug/Hf.Test.csproj.CoreCompileInputs.cache
.vs/HaltroyFramework/v16/.suo
Hf.Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Hf.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Hf.Test/obj/Debug/Hf.Test.csproj.CoreCompileInputs.cache
Hf.Test/obj/Debug/Hf.Test.csprojAssemblyReference.cache
HFCore/bin/Debug/HaltroyFramework.dll
HFCore/bin/Debug/HaltroyFramework.dll.config
HFCore/bin/Debug/HaltroyFramework.pdb
HFCore/bin/Debug/license.txt
HFCore/bin/Debug/readme.txt
HFCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HFCore/obj/Debug/HaltroyFramework.dll
HFCore/obj/Debug/HaltroyFramework.HaltroyInputBox.resources
HFCore/obj/Debug/HaltroyFramework.HaltroyMsgBox.resources
HFCore/obj/Debug/HaltroyFramework.HaltroySlider.resources
HFCore/obj/Debug/HaltroyFramework.pdb
HFCore/obj/Debug/HaltroyFramework.Properties.Resources.resources
HFCore/obj/Debug/HF.csproj.FileListAbsolute.txt
HFCore/obj/Debug/HF.csproj.GenerateResource.cache
HFCore/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
HFCore/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HFCore/obj/Release/HaltroyFramework.dll
HFCore/obj/Release/HaltroyFramework.HaltroyInputBox.resources
HFCore/obj/Release/HaltroyFramework.HaltroyMsgBox.resources
HFCore/obj/Release/HaltroyFramework.HaltroySlider.resources
HFCore/obj/Release/HaltroyFramework.pdb
HFCore/obj/Release/HaltroyFramework.Properties.Resources.resources
HFCore/obj/Release/HF.csproj.CoreCompileInputs.cache
HFCore/obj/Release/HF.csproj.FileListAbsolute.txt
HFCore/obj/Release/HF.csproj.GenerateResource.cache
HFCore/obj/Release/HF.csprojAssemblyReference.cache
HFCore/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
HFCore/bin/Release/HaltroyFramework.dll
HFCore/bin/Release/HaltroyFramework.dll.config
HFCore/bin/Release/HaltroyFramework.pdb
HFCore/bin/Release/license.txt
HFCore/bin/Release/readme.txt
Hf.Test/obj/Release/Hf.Test.csprojAssemblyReference.cache
Hf.Test/obj/Release/Hf.Test.csproj.CoreCompileInputs.cache
Hf.Test/obj/Release/build.force
Hf.Test/obj/Debug/Hf.Test.Properties.Resources.resources
Hf.Test/obj/Debug/Hf.Test.pdb
Hf.Test/obj/Debug/Hf.Test.Form1.resources
Hf.Test/obj/Debug/Hf.Test.exe
Hf.Test/obj/Debug/Hf.Test.csprojAssemblyReference.cache
Hf.Test/obj/Debug/Hf.Test.csproj.GenerateResource.cache
Hf.Test/obj/Debug/Hf.Test.csproj.FileListAbsolute.txt
Hf.Test/obj/Debug/Hf.Test.csproj.CopyComplete
Hf.Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Hf.Test/bin/Debug/readme.txt
Hf.Test/bin/Debug/license.txt
Hf.Test/bin/Debug/Hf.Test.pdb
Hf.Test/bin/Debug/Hf.Test.exe
Hf.Test/bin/Debug/HaltroyFramework.pdb
Hf.Test/bin/Debug/HaltroyFramework.dll.config
Hf.Test/bin/Debug/HaltroyFramework.dll
.vs/HaltroyFramework/v16/.suo
